@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root {
    --cor-secao-portfolio: #ffdd99;
    --cor-secao-about-us: #d74680;
    --cor-secao-get-in-touch: #3c5499;
    --cor-secao-top-header: #87509c;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

/* secao top-header */

.top-header {
    background-color: var(--cor-secao-top-header);
}

.top-header-button {
    background-color: #eb7d4b;
}

.botao-nav:hover {
    background-color: #643A79;
}

.bottom-buffer {
    margin-bottom: 70px;
}


/* secoes portfolio, about-us, get-in-touch*/

.secao-portfolio {
    background-color: var(--cor-secao-portfolio);
}

.secao-about-us {
    background-color: var(--cor-secao-about-us);
    color: #FFFFFF;
}

.secao-get-in-touch {
    background-color: var(--cor-secao-get-in-touch);
    color: #FFFFFF;
}

.lista-botao-portfolio {
    background-color: #E5C37F;
}

.lista-botao-portfolio:hover{
    background-color: #FFFFFF;
}

.secao-portfolio-botao-load {
    background-color: #17C2A4;
    color: #FFFFFF;
}

.nome-cliente {
    font-weight: bold;
    font-size: 1.2rem;
}

.funcao-cliente {
    color: #FFDD99;
}

.depoimento {
    font-style: italic;
}

.secao-titulo {
    font-weight: bold;
}

.secao-get-in-touch-form {
    background-color: #273A71;
    border-color: #273A71;
    color: #FFFFFF;

}

.secao-get-in-touch-form::placeholder {
    color: #FFFFFF;
}

.secao-get-in-touch-form:focus-within {
    background-color: #273A71;
    color: #FFFFFF;
}

footer {
    background-color: #344B8E;
    color: #FFFFFF;
    font-weight: bold;
}

.links-rede-social {
    text-decoration: none;
    color: #FFFFFF;

}

.links-rede-social:hover {
    color: #30BAE7;
}